body * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    background: #faffed;
    
}

h2 {
    color: #F0F3BD;
    font-size: 20pt;
}

h1 {
    font-size: 48pt;
    color: #05668D;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.js-logout-button {
    margin: 100px 10px 10px 10px;
}

/*    Account Form     */

input[type=radio] {
    position: fixed;
    left: -200px;
}

.login, .create {
    appearance: none;
    background-color: #F0F3BD;
    display: block;
    transition: 300ms ease;
    border-radius: 7px;
    border: 0;
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    width: 250px;
    opacity: 0;
    font-size: 16px;
    text-align: center;
}

.js-password-requirements, .js-create-account-error {
    display: block;
    transition: 300ms ease;
    max-height: 0;
    width: 250px;
    opacity: 0;
    pointer-events: none;
}

.showAlert {
    max-height: 50px;
    margin: 0 0 10px 0;
    opacity: 1;
}

[id=login]:checked ~ input.login,
[id=create]:checked ~ input.create,
[id=reset]:checked ~ input.reset {
    max-height: 50px;
    padding: 10px;
    margin: 0 0 10px 0;
    opacity: 1;
}

button {
    width: 250px;
    height: 40px;
    border-radius: 7px;
    transition: 300ms ease;
    background-color: #05668D;
    outline: 0;
    border: none;
    cursor: pointer;
    color: #faffed;
    font-size: 16px;
}

button:focus {
    background-color: #055474;
}

#loginLabel, #createLabel {
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    color: #05668D;
    transition: 300ms ease;
    width: calc(100% / 3 - 4px);
    margin: 10px 0;
}


label:after {
    content: "";
    border: 15px solid transparent;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 10px);
    transition: inherit;
    z-index: -1;
}

[id=login]:checked ~ [for=login],
[id=create]:checked ~ [for=create] {
    color: #05668D;
}

[id=login]:checked ~ [for=login]:after,
[id=create]:checked ~ [for=create]:after{
    border-bottom-color: #F0F3BD;
}


[id=login]:focus ~ [for=login]:after, 
[id=create]:focus ~ [for=create]:after {
    border-bottom-color: #05668D;
}

input:focus {
    outline: 1px #05668D solid;
}

button:focus {
    border: 1px #05668D solid;
}

.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    text-align: center;
    transition: 300ms ease;
}

fieldset {
    border: 0;
}

/*      Deck      */

.js-deck-form {
    display: block;
    text-align: center;
    transition: 300ms ease;
    max-height: 0;
    margin: 0;
    opacity: 0;
}

.js-new-deck {
    display: block;
    appearance: none;
    background-color: #F0F3BD;
    display: block;
    transition: 300ms ease;
    border-radius: 7px;
    border: 0;
    padding: 10px;
    overflow: hidden;
    width: 250px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto 10px;
}

.showForm {
    max-height: 100px;
    margin: 0 0 10px 0;
    opacity: 1;
}

.js-decks-container {
    display: inline-flex;
}

.deck-container {
    padding: 25px;
    position: relative;
    height: 300px;
    width: 275px;
    touch-action: none;
    overflow: hidden;
}

.deck-card {
    width: 200px;
    height: 250px;
    background: #028090;
    border-radius: 10px;
    box-shadow: 2px 2px #026976;
    font-size: 2.5em;
    color: white;
    overflow: hidden;
    margin: 0 2px 2px 0;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: auto;
}

.card-buttons-container{
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 95%;
}

.card-buttons-container button {
    display: block;
    width: 75%;
    height: 20px;
    margin: 5px auto;
}

.js-logout-button{
    width: 100px;
    height: 30px;
    font-size: 12pt;
}